<template>
  <div class="main">
    <div class="main-control-panel">
      <input type="file" id="files" ref="files" multiple accept="image/*"  v-on:change="handleFileUpload()">
      <label>Режим отображения: 
        <select v-model="mode">
          <option value="default">1:1</option>
          <option value="full">Целиком</option>
          <option value="vertical">Вписывание по вертикали</option>
          <option value="horizontal">Вписывание по горизонтали</option>
        </select>
      </label>
      <button class="main-control-panel-btn" v-if="$store.state.images.length > 0"  @click="showSlider = true;">Открыть просмотр</button>
    </div>
    <div class="main-block">
      <div class="main-block-preview">
        <div>Предпросмотр</div>
        <img v-for="image in $store.state.images" :src="image.src">
      </div>
      <div class="main-block-screen">
        <VueSlickCarousel :arrows="true" :dots="false" v-if="showSlider" :autoplay="false">
          <div class="main-block-screen-image-item" v-for="image in $store.state.images" > 
            <div :style="setBackgroundImage(image.src)" :class="mode + '-' + image.orientation"></div>
          </div>
        </VueSlickCarousel>
      </div>
    </div>
  </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {
  name: 'Main',
  components: {
    VueSlickCarousel,
  },
  data () {
    return {
      files: [],
      mode: 'default',
      showSlider: false,
    }
  },
  mounted () {
    if (localStorage.mode) {
      this.mode = localStorage.mode;
    }
    if (localStorage.getItem("images")) {
      let lsimages = [];
      lsimages = JSON.parse(localStorage.getItem("images"));
      console.log(lsimages);

      for(let i = 0; i < lsimages.length; i++){
        this.$store.dispatch('actionAddImage', [lsimages[i].src, lsimages[i].orientation]);
      }      
    }
  },
  watch: {
    mode(nmode) {
      localStorage.mode = nmode;
    },
    '$store.state.images': function() {
      localStorage.setItem('images', JSON.stringify(this.$store.state.images));
      console.log(JSON.stringify(this.$store.state.images));
    },
  },
  methods: {
    handleFileUpload() {
      this.showSlider = false;
      this.files.length = 0;

      this.$store.dispatch('actionClearImages');
      let uploadedFiles = this.$refs.files.files;

      for(let i = 0; i < uploadedFiles.length; i++){
        this.files.push(uploadedFiles[i]);
      }

      for(let i = 0; i < this.files.length; i++){
        
        if ( /\.(jpe?g|png|gif)$/i.test( this.files[i].name ) ) {
          
          let reader = new FileReader();
          reader.addEventListener("load", function(){

            var image = new Image();
            image.src = reader.result;
            image.addEventListener("load", function(){
              var orientation = image.width > image.height ? 'ho' : 'vo';
              this.$store.dispatch('actionAddImage', [reader.result, orientation]); 
            }.bind(this), false);

          }.bind(this), false);

          reader.readAsDataURL(this.files[i]);
        }
      }
    },
    setBackgroundImage(data){
      if(data){
        return  "background-image: url(" + data + ") !important;";
      }
      else {
        return "";
      }
    },
  }
}
</script>

<style lang="scss">
  .main {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: left;
    @media (max-width: 1200px) {
      max-width: 800px;
    }
    @media (max-width: 800px) {
      max-width: auto;
    }
    &-control-panel {
      width: 100%;
    }
    input, 
    label, 
    select, 
    button {
      font-size: 14px;
      @media (max-width: 1200px) {
        display: block;
        margin-bottom: 10px;
      }
      @media (max-width: 800px) {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
    .main-control-panel-btn {
      margin-left: 30px;
      padding: 0px 7px;
      @media (max-width: 1200px) {
        margin-left: 0px;
      }
    }
    select option {
      padding: 3px 7px;
    }
    &-block {
      display: flex;
      justify-content: flex-start;
      margin-top: 20px;
      &-preview {
        width: 120px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        @media (max-width: 800px) {
          display: none;
        }
        div {
          text-align: center;
          font-style: italic;
          font-size: 12px;
          color: #777;
          margin-bottom: 10px;
          margin-top: 10px;
        }
        img {
          width: 100px;
          height: 70px;
          margin-left: 10px;
          margin-bottom: 20px;
        }
      }
      &-screen {
        margin-left: auto;
        margin-right: auto;
        width: 1000px;
        height: 800px;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        @media (max-width: 1200px) {
          width: 600px;
        }
        @media (max-width: 800px) {
          width: 100%;
          height: 550px;
        }
        .slick-slider {
          margin-left: auto;
          margin-right: auto;
          width: 100%;
          height: 100%;
          overflow: hidden;
        }
        &-image-item {
          height: 800px;
          display: flex !important;
          justify-content: center;
          align-items: center;
          div {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            &.full-ho, &.full-vo {
              background-size: cover;
            }
            &.horizontal-ho {
              background-size: contain;
            }
            &.vertical-ho {
              background-size: cover;
            }
            &.horizontal-vo {
              background-size: cover;
            }
            &.vertical-vo {
              background-size: contain;
            }
          }
        }
      }
    }
  }
</style>